body {
    margin: 0;
}

header {
    margin: 0;
    padding: 10px 20px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}

header .action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header .social-media {
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header .social-media h3 {
    margin: 20px;
}

header .social-media i:hover {
    transform: scale(1.1);
}

header nav a {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0;
    color: whitesmoke;
    background-color: rgba(0, 128, 175, 1);
    padding: 0px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;
}

header nav a:hover {
    transform: scale(1.1);
}

.active-nav {
    background-color: #eaba8b;
}

.logo-boba {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo-boba img {
    height: 80px;
    object-fit: cover;
}

.logo-boba p {
    font-family: 'Monoton', cursive;
    margin: 0;
    font-size: 30px;
}

.fa {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: whitesmoke;
    border-radius: 50%;
    margin: 0 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fa-facebook {
    background-color: #3C599F;
}

.fa-pinterest {
    background-color: #CC2127;
}

.fa-snapchat {
    color: black;
    background-color: #FFFC00;
}

main {
    display: flex;
    margin: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    flex-direction: column;
    align-items: center;
    height: auto;
}

.slider-wrap {
    width: 100%;
    height: 700px;
    margin: 0;
}

.slider {
    overflow: hidden;
    margin: 0;
}

.holder {
    width: 300%;
    display: flex;
    flex-direction: row;
}

.slide {
    position: relative;
    width: 100vw;
    height: 700px;
    margin: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption-text {
    font-family: 'Major Mono Display', monospace;
    position: absolute;
    color: whitesmoke;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, black);
}

.slider-nav {
    text-align: center;
    margin: 10px 0 0 0;
}

.slider-nav a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #ddd;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 50%;
}

.slider-nav a.active {
    background: #eaba6b;
}

.article-paragraphs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 1400px;
}

.article-paragraphs section {
    width: 100%;
    height: 700px;
}

.masters-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trends-text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.article-paragraphs figure {
    width: 800px;
    height: 700px;
    background-image: url(./Assets/milk-splash.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.article-paragraphs figure img {
    width: 350px;
    height: 350px;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.article-paragraphs figcaption {
    width: 700px;
    font-family: 'Nunito', sans-serif;
    color: #00ABE7;
    font-size: 30px;
    text-align: left;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

footer {
    height: 125px;
    margin: 0;
    padding: 20px 20px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-style: solid;
    border-top-width: 1px;
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 0;
}

footer p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

footer form input {
    padding: 10px;
    font-size: 20px;
}

footer form button {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 0;
    color: whitesmoke;
    background-color: rgba(0, 128, 175, 1);
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    background-image: url(./Assets/menu-background.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}

.menu-list {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.menu-list h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    color: black;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 20px;
    margin: 0;
}

.menu-list a {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 15px;
}

.menu-list a:not(:last-child) {
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}

.menu-list a:hover {
    background-image: url(./Assets/brush-menu.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

#brown-sugar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Assets/menu-background.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}

#brown-sugar h1 {
    width: 40%;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.5);
}

#item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    align-items: center;
}

#brown-sugar-image {
    width: 35%;
    height: 800px;
    padding: 60px 0;
}

#brown-sugar-image img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#brown-sugar-info {
    font-family: 'Nunito', sans-serif;
    width: 45%;
    height: 800px;
    background-color: rgba(0, 169, 231, 0.5);
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nutrition-facts {
    margin: 20px;
    font-size: 20px;
}

#nutrition-facts h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

#trend-data {
    width: 50%;
    margin: 20px;
}

#trend-data img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#trend-data h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

#guides {
    margin: 0;
    padding: 50px;
    width: 100%;
    height: auto;
    background-image: url(./Assets/guide.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

#guides-container {
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 30px;
}

.guide {
    width: 50%;
    height: 300px;
    background-color: rgba(0, 128, 175, 0.9);
    margin: 50px;
    border-radius: 30px;
    padding: 30px;
}

.guide h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    color: whitesmoke;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 10px;
}

.guide p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

#loot-crate {
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Assets/blue-splash.png);
    background-size: cover;
    background-position: center center;
}

#loot-crate img {
    width: 800px;
    height: 900px;
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    margin-top: 500px;
}

#loot-text {
    background-color: rgba(0, 0, 0, 0.5);
    height: 850px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 614px;
    border-radius: 50px;
    padding: 20px;
}

#loot-text h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    color: whitesmoke;
}

#loot-text p {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

#loot-text h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    text-decoration: line-through;
}

#loot-text h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    color: red;
}

#loot-crate i {
    font-size: 140px;
}